.h1 {
    font-family: Verdana;
    text-align: center;
    color: red;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
}

.flex-container div {
    display: flex;
    width: 16rem;
    margin: 1rem;
    padding: 3rem;
    box-shadow: -5px 10px 13px -8px rgba(0, 0, 0, 0.31);
    border: 1px solid whitesmoke;   
}

.image-component {
    width: 16rem;
}

.content-component {
    color: #000000;
}